- page_title "Our Ethos / Disclaimer"

%h3 Our Ethos / Disclaimer
.row
  .col-12.col-md-8.col-lg-6.col-xl-5
  
      
    %p
      Climbing is dangerous, but so is everything. Only you can decide what risk is worth taking. By using this site, you are acknowledging that you sail your own course, and that you will not hold this site or the climbing community responsible for the consequences of your decisions.

    %p
      While safety is very important to us, some of the content on this site may emphasize fun, speed, thrill-seeking, or heroism. If this bothers you, that's okay. Please pick and choose the information that's going to work for you.

    %p
      Above all: Don't be foolish. Please use your brain. And protect it with a helmet.

    %p
      Happy climbing.
      
      
      
= ga